 .u-section-1 {
  min-height: 1169px;
}

.u-section-1 .u-shape-1 {
  height: 464px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 562px);
  min-height: 483px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -354px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  margin: 0 -323px 0 30px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 166px 100px 0 50px;
}

.u-section-1 .u-btn-1 {
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  background-image: none;
  margin: 30px auto 0 50px;
  padding: 14px 55px 15px 53px;
}

.u-section-1 .u-image-1 {
  width: 650px;
  height: 650px;
  background-image: url("images/4b9446de69a22247e4ba203323186ecf0c1589a20bd0911be77488afd28ee26e287395537f60fab7a10b05ca3e955b2f3da9639ce1106f812f92e8_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -292px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 190px;
  height: 190px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -860px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 334px;
  height: 334px;
  background-image: url("images/f9802179e9ed8787667fecc624994c1ee3e97e1855462504c0f2843961854021e214f565fbc29084919dce72024ee53c720b3db7b82bde10bb3d8a_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 453px auto 0 calc(((100% - 1140px) / 2) + 330px);
}

.u-section-1 .u-shape-3 {
  width: 168px;
  height: 168px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -324px auto 60px calc(((100% - 1140px) / 2) + 55px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-group-1 {
    width: 527px;
    min-height: 494px;
    margin-top: -385px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 70px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 610px;
    height: 610px;
    margin-top: -226px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-2 {
    margin-top: -890px;
    margin-right: calc(((100% - 1140px) / 2) + 144px);
  }

  .u-section-1 .u-image-2 {
    width: 309px;
    height: 309px;
    margin-top: 460px;
    margin-left: calc(((100% - 940px) / 2) + 263px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: -348px;
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1203px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -404px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-image-1 {
    width: 590px;
    height: 590px;
    margin-top: -67px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: 143px;
    height: 143px;
    margin-top: -1004px;
    margin-right: calc(((100% - 720px) / 2) + 18px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 623px;
    margin-left: calc(((100% - 720px) / 2) + 51px);
  }

  .u-section-1 .u-shape-3 {
    width: 112px;
    height: 112px;
    margin-top: -535px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1764px;
  }

  .u-section-1 .u-shape-1 {
    height: 639px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 39px;
    margin-right: 89px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 39px;
  }

  .u-section-1 .u-image-1 {
    width: 496px;
    height: 496px;
    margin-top: 21px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: 111px;
    height: 111px;
    margin-top: -1170px;
    margin-right: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-1 .u-image-2 {
    width: 304px;
    height: 304px;
    margin-top: 1086px;
    margin-left: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: 0;
    margin-right: calc(((100% - 540px) / 2) + 102px);
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1460px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 313px;
    height: 313px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: -1022px;
    margin-right: calc(((100% - 340px) / 2) + 43px);
  }

  .u-section-1 .u-image-2 {
    width: 204px;
    height: 204px;
    margin-top: 909px;
    margin-left: calc(((100% - 340px) / 2) + 27px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 340px) / 2) + 22px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 910px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-gallery-1 {
  width: 782px;
  height: 545px;
  grid-gap: 10px;
  margin: 40px auto 0;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-2 {
  width: 334px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 3px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  background-image: none;
  margin: 27px auto 60px;
  padding: 13px 67px 14px 65px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-2 .u-gallery-1 {
    width: 630px;
    height: 497px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-gallery-1 {
    width: 462px;
    height: 421px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 478px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: -6px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 358px;
  background-image: none;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.32;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px;
}

.u-section-3 .u-image-1 {
  width: 260px;
  height: 260px;
  background-image: url("images/edit.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 116px;
  height: 116px;
  background-image: none;
  margin: -260px auto 0 0;
  padding: 32px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 358px;
  background-image: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0 2px;
}

.u-section-3 .u-text-2 {
  margin: 32px auto 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 400;
  font-style: italic;
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: 28px 2px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 34px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    width: 92px;
    height: 92px;
    margin-top: -263px;
    padding: 18px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-3 .u-image-1 {
    height: 278px;
    width: 278px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -288px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-3 .u-text-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    font-size: 1.875rem;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 710px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 668px;
  background-image: url("images/food3.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 668px;
  background-image: url("images/food3.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.22;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 300px;
  width: 390px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 -261px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 551px;
  }

  .u-section-4 .u-image-2 {
    min-height: 551px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-4 .u-image-1 {
    min-height: 461px;
  }

  .u-section-4 .u-image-2 {
    min-height: 461px;
  }

  .u-section-4 .u-group-1 {
    width: 338px;
    margin-left: -239px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-4 .u-image-1 {
    min-height: 623px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 630px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -203px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-image-1 {
    min-height: 392px;
  }

  .u-section-4 .u-image-2 {
    min-height: 397px;
  }

  .u-section-4 .u-group-1 {
    width: 288px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1374px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 11.3333px));
  min-height: 1039px;
  grid-gap: 17px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 243px;
  margin: 13px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0 103px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: -17px 0 0 auto;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 112px auto 0 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 243px;
  margin: 13px 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0 103px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: -17px 0 0 auto;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 112px auto 0 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  height: 243px;
  margin: 13px 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0 103px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: -17px 0 0 auto;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 112px auto 0 0;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-5 .u-image-4 {
  height: 243px;
  margin: 13px 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0 103px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: -17px 0 0 auto;
}

.u-section-5 .u-btn-4 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 112px auto 0 0;
}

.u-section-5 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-5 .u-image-5 {
  height: 243px;
  margin: 13px 0 0;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0 103px;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  margin: -17px 0 0 auto;
}

.u-section-5 .u-btn-5 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 112px auto 0 0;
}

.u-section-5 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-5 .u-image-6 {
  height: 243px;
  margin: 13px 0 0;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0 103px;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  margin: -17px 0 0 auto;
}

.u-section-5 .u-btn-6 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 112px auto 0 0;
}

.u-section-5 .u-text-14 {
  font-style: italic;
  width: 306px;
  margin: 40px auto 60px;
}

.u-section-5 .u-btn-7 {
  font-weight: 400;
  font-style: italic;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1328px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 993px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-5 .u-image-1 {
    height: 192px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-5 .u-image-2 {
    height: 192px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -69px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 56px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 151px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-5 .u-image-3 {
    height: 192px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -69px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 56px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-5 .u-image-4 {
    height: 192px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: -69px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 56px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-5 .u-image-5 {
    height: 192px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: -69px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 56px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-5 .u-image-6 {
    height: 192px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-top: -69px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-top: 56px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-14 {
    margin-bottom: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.49997px));
    min-height: 1686px;
  }

  .u-section-5 .u-image-1 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 227px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 4143px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-2 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 126px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-4 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-5 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-6 {
    height: 393px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 3566px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 151px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 262px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 745px;
  margin-top: 53px;
  margin-bottom: 0;
  grid-gap: 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-6 .u-over-slide-1 {
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  padding: 20px;
}

.u-section-6 .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  border-style: solid;
  margin: 35px auto 60px;
  padding: 15px 50px 15px 48px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-6 .u-gallery-1 {
    height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1058px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3629px;
  }

  .u-section-6 .u-gallery-1 {
    height: 3174px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2453px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1998px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 861px;
}

.u-section-7 .u-list-1 {
  width: 323px;
  margin: 217px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 515px;
  grid-gap: 33px 33px;
  grid-auto-columns: 100%;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/photo_2022-07-18_18-06-03.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 34px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 38px -24px 0 74px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 25px 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 25px 0;
  padding: 0;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin: 38px auto 60px;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  font-style: normal;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 773px;
}

.u-section-8 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 50px auto 0 0;
}

.u-section-8 .u-group-1 {
  min-height: 448px;
  width: 1001px;
  height: auto;
  margin: -84px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 60px 46px 60px 60px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 4px 606px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 176px;
  min-width: 112px;
  margin: 50px auto 0 16px;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

.u-section-8 .u-icon-6 {
  height: 100%;
}

.u-section-8 .u-form-1 {
  height: 306px;
  margin: -228px 0 0 394px;
}

.u-section-8 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 100%;
  background-image: none;
  padding: 14px 0;
}

.u-section-8 .u-shape-2 {
  width: 109px;
  height: 109px;
  margin: 34px 20px 50px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-shape-1 {
    margin-top: 58px;
  }

  .u-section-8 .u-group-1 {
    min-height: 453px;
    width: 810px;
    margin-top: -105px;
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 415px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 85px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 333px;
  }

  .u-section-8 .u-shape-2 {
    margin-bottom: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-8 .u-shape-1 {
    width: 143px;
    height: 143px;
    margin-top: 55px;
  }

  .u-section-8 .u-group-1 {
    min-height: 410px;
    width: 642px;
    margin-top: -82px;
    margin-right: 20px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 19px;
    margin-right: 267px;
  }

  .u-section-8 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-8 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 50px;
  }

  .u-section-8 .u-form-1 {
    margin-top: -265px;
    margin-left: 263px;
  }

  .u-section-8 .u-shape-2 {
    width: 82px;
    height: 82px;
    margin-top: 50px;
    margin-right: 21px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-8 .u-group-1 {
    min-height: 714px;
    width: 456px;
    margin-right: 38px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 21px;
    padding-bottom: 24px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-right: 9px;
  }

  .u-section-8 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 87px;
  }

  .u-section-8 .u-form-1 {
    width: 394px;
    margin-top: 25px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-2 {
    margin-top: 25px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    min-height: 695px;
    width: 312px;
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-shape-2 {
    margin-top: 44px;
  }
}